*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;  
}

body{
    background: #EFE8DF;
    font-family: "Playfair Display", verdana, arial;
}
li, a{
    color: black; 
    text-decoration: none;
}

header{
    position: sticky;
    z-index:1;
    top: 0;
    float: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background:#FAF9F6;
}

.logo{
    width:40px;
    cursor: pointer;   
}
@media screen and (min-width: 2000px){
    .logo{
        width:50px; 
    }

    .nav_links li{
        font-size: 20px;
    }   

}

@media screen and (min-width: 1200px){
    .logo{
        width:45px; 
    }

    .nav_links li{
        font-size: 18px;
    }   

}
.nav_links{
    list-style:none;
}

.nav_links li{
    display:inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
   color:rgb(182, 160, 160);
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
    transition: all 0.3s ease;
}


@media screen and (max-width: 724px){

    .logo{
        width:35px;
    }
    html, body{
        position: relative;
        top: 0;
        bottom:0;
    
        width: 100vw; /* viewport width */
        height: 100vh; /* viewport height */
        
        overflow-x: hidden;
    }

    .nav_links{
        position: absolute;
        right: 0px;
        height: 95vh;
        top: 7.5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color:#FAF9F6;
        transform: translateX(100%);
        animation: navSlideOut 0s forwards;
    }
    .nav_links li{
        opacity: 0;
        padding: 2px;
        width: 100%
        
    }
    .menu {
        margin-top: 10px;
        display: block;
        padding: 12px 24px;
        color: #333;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
 
      }
      .menu:hover {
        background-color:rgba(182, 160, 160, 0.2);
        
      }

      .stop-scrolling {
        overflow-y: hidden;
      }

    .burger{
        display:block;
    }
    .nav-active {
        animation: navSlide 0.5s ease both;
      }
    
    .nav-off {
        animation: navSlideOut 0.5s ease both;
      }

}


@keyframes navSlide {
    from {
      transform: translateX(100%);
    }
  
    to {
      transform: translateX(0%);
    }
  }
  
  @keyframes navSlideOut {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(100%);
    }
  }
  

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}


.projects {
    font-family: "Playfair Display", verdana, arial;
    width: 80%;
    margin: 20px auto 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 30px;
    cursor: pointer;
}

@media screen and (max-width: 2200px){
    .projects{
        grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    }
}

@media screen and (max-width: 2000px){
    .projects{
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}
@media screen and (max-width: 1750px){
    .projects{
        grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    }
}

@media screen and (max-width: 1600px){
    .projects{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
} 
@media screen and (max-width: 1400px){
    .projects{
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    }
}

.img-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1/1;
}

.img-wrapper > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.img-wrapper > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    transition: 200ms ease-in-out;
    overflow-y: hidden;
}

.img-wrapper > a > .content {
    position: absolute;
    inset: 0;
    font-size: 24px;
    padding: 1.5rem;
    background: rgba(145, 135, 126, 0.85);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 200ms ease-in-out;
}

.img-wrapper:hover > a > img.blur {
    backdrop-filter: blur(3px);
}

.img-wrapper:hover > a > img.zoom {
    transform: scale(1.1);
}

.img-wrapper:hover > a > .content.fade {
    opacity: 1;
}

main h2 {
    font-family: "Playfair Display", verdana, arial;
    color: black;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    padding: 30px;
}


@media screen and (min-width: 2000px){
    main h2{
        font-size: 50px;
    }
}

@media screen and (min-width: 1200px){
    main h2{
        font-size: 40px;
    }
}


.projects-mobile{
    display: none;
}

@media screen and (max-width: 724px){

    .projects-mobile {
        font-family: "Playfair Display", verdana, arial;
        width: 80%;
        margin: 20px auto 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
        grid-gap: 30px;
        cursor: pointer;
    }
    
    .img-mobile {
        position: relative;
        overflow: hidden;
        width: 100%;
        aspect-ratio: 2/1;
    }
    
    .img-mobile > a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .img-mobile > a > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        cursor: pointer;
        transition: 200ms ease-in-out;
    }
    
    .img-mobile > a > .content {
        position: absolute;
        inset: 0;
        font-size: 22px;
        padding: 1.5rem;
        background: rgba(145, 135, 126, 0.85);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 200ms ease-in-out;
    }
    
    .img-mobile > a > img.blur {
        backdrop-filter: blur(3px);
    }
    
    .img-mobile > a > .content.fade {
        opacity: 1;
    }

    .projects{
        display: none;
    }

    main h2{
        font-size:25px; 
        padding:0;
    }
}

.container {
    display: flex;
    padding-left: 15px;
    padding-right:15px;
}

.container img {

    width: 100%;
    height: auto;
    padding: 30px;
    padding-top: 0px;
    margin-right: 20px; 
    image-resolution: 300px;
}

.text {
    padding: 100px;
    padding-top: 0px;
    width: 80%;
}

.text h3 {
    font-size: 35px;
}
.text p,
.text h4{
    font-size: 30px;
}
#dog{
    scroll-margin-top: 130px;
  }
#classic{
    scroll-margin-top: 130px;
}

@media screen and (max-width: 2000px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .text h3{
        font-size: 31px;
    }

    .text{
        padding: 30px;
        padding-top:0;
    }

    .text p,
    .text h4{
        font-size: 26px;
    }
}

@media screen and (max-width: 1600px){
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .text h3{
        font-size: 28px;
    }

    .text{
        padding: 25px;
        padding-top:0;
    }

    .text p,
    .text h4{
        font-size: 20px;
    }
}

@media screen and (max-width: 1200px){
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }
   .text{
        padding: 25px;
        padding-top:0;
    }
    .text h3{
        font-size: 25px;
    }
    .text p,
    .text h4{
        font-size: 17px;
    }
}

@media screen and (max-width: 1100px){
    .container{
        padding-left: 0px;
        padding-right: 0px;
    }
   .text{
        padding: 20px;
        padding-top:0;
    }
    .text h3{
        font-size: 25px;
    }
}

@media (max-width: 846px) {
    .container {
        flex-direction: column;
        overflow-x: hidden;
        padding:0;
    }

    .text {
        width: 100%;
        font-size:15px;
        padding:30px;
        padding-top:0;
    }

    .text h3{
        font-size:25px;
    }
    #dog{
        scroll-margin-top: 0px;
      }
    #classic{
        scroll-margin-top: 0px;
    }
}



.btn-box{
    position: relative;
    display: inline-block;
    justify-content: space-between;
    width: 10rem;
    height: 3rem;
  }
  
  .btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 100%;
    background: #DBCBBB;
    border: .2rem solid #DBCBBB;
    border-radius: .8rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
    z-index:1;
    overflow:hidden;
  }
  
  .btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#DBCBBB;
    z-index: -1;
    transition: .5s;
  }
  
  .btn-box .btn:hover::before{
    width: 100%;
  }

.center {
    display:flex;
    justify-content: center;
  }
  
  .btn-box.btns .btn {
    font-family: "Playfair Display", verdana, arial;
    background: #DBCBBB;
    border: .2rem solid #DBCBBB;
    font-size: 1rem;
  }
  
  .btn-box.btns .btn::before {
    background: #EFE8DF;
  }
  main {    
    transform-style: preserve-3d;
    z-index: -1;
  }

  .container {
    display: flex;
    align-items: flex-start; /* aligns items at top instead of centering vertically */
    
    gap: 30px;               /* optional: spacing between slider and text */
    padding: 40px 60px;      /* adjust as needed */
    margin-left:-25px;
   
  }
  
  .slider-wrapper {
    max-width: 600px;        /* or any width that matches your desired magazine size */
    width: 100%;
    margin: 0;               /* remove any centering margin */
    margin-right:0px;
  }
  
  
  .my-slider {
    display: flex;
    
  }
  
  .slide-img {
    width: 100%;
    height: auto;
    max-height: 1500px;
    object-fit: contain;
    
  }
  
  .tns-nav {
    text-align: center;
    margin-top: 15px;
  }
  
  .tns-nav button {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border: none;
    background: #ccc;
  }
  
  .tns-nav button.tns-nav-active {
    background: #333;
  }
  
  @media (max-width: 846px) {
    .container {
        align-items: center; /* aligns items at top instead of centering vertically */
       padding-top:0px;
      }
  }


footer{
    font-family: "Playfair Display", verdana, arial;
    text-align: center;
    padding: 10px;
    padding-top: 10px;
}

